body {
    background-color: rgba(255, 255, 255, 0.349);
    margin-top: 0px;
}

header {
    background-color: rgb(5, 5, 5);         /*Color fondo del nav bar*/
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 85px;
    padding: 6px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.header {
    
    margin-right: auto;
    display: flex;
}

header .logo img { 
    /*height: 95px;       /*Altura*/
    /*width: 85px;    /*ancho*/
}

.phyton {
    width: auto;
    height: 145px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.index {
    width: auto;
    height: 90px;
    cursor: pointer;
    transition: transform 0.9s ease, opacity 0.1s ease;
}

.java {
    width: auto;
    height: 104px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.phyton:hover {             /* Animación al pasar el cursor por encima */
    transform: scale(1.1); /* Aumenta el tamaño */
    opacity: 0.8; /* Reduce ligeramente la opacidad */
    animation: pulse 0.6s infinite; /* Aplica la animación */

}

.index:hover {      /* Animación al pasar el cursor por encima */
    transform: rotate(360deg); /* Gira */
    opacity: 0.6;           /*opacidad al pasar el cursor*/
}

.java:hover {       /* Animación al pasar el cursor por encima */
    transform: translateY(-10px); /* Mueve hacia arriba el logo */
    opacity: 0.6;
}


.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: rgb(255, 255, 255);           /*Color letra de los links*/
    text-decoration: none;
}

.header .nav-links li a:hover {
    color:rgba(255, 255, 255, 0.615);             /*el color cambia al pasar el cursos por encima */
}


#contenedor {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border-style:solid;
    border-color: #000000;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: rgb(245, 246, 247);
}

/* Efecto al pasar el ratón */
h1:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al hacer hover */
    color: #010201; /* Cambiar el color del texto al hacer hover */
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    text-align: center;
    font-style:italic;
    max-width: auto;

}

button {
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000; /* Borde inicial */
    box-shadow: none; /* Sombra inicial */
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: rgba(51, 28, 225, 0.932); /* Cambiar color de fondo al hacer hover */
    border: 2px solid #000000f8; /* Cambiar color del borde al hacer hover */
    box-shadow: 0 4px 8px rgba(19, 32, 17, 0.925); /* Añadir sombra al hacer hover */
}

p {
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(245, 246, 247);
}

