body {
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}

header {
    background-color: rgb(5, 5, 5);         /*Color fondo del nav bar*/
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 85px;
    padding: 6px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.header {
    margin-right: auto;
    display: flex;
}

header .logo img { 
    /*height: 95px;       /*Altura*/
    /*width: 85px;    /*ancho*/
}

.phyton {
    width: auto;
    height: 145px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.index {
    width: auto;
    height: 90px;
    cursor: pointer;
    transition: transform 0.9s ease, opacity 0.1s ease;
}

.java {
    width: auto;
    height: 104px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.phyton:hover {             /* Animación al pasar el cursor por encima */
    transform: scale(1.1); /* Aumenta el tamaño */
    opacity: 0.8; /* Reduce ligeramente la opacidad */
    animation: pulse 0.6s infinite; /* Aplica la animación */

}

.index:hover {      /* Animación al pasar el cursor por encima */
    transform: rotate(360deg); /* Gira */
    opacity: 0.6;           /*opacidad al pasar el cursor*/
}

.java:hover {       /* Animación al pasar el cursor por encima */
    transform: translateY(-10px); /* Mueve hacia arriba el logo */
    opacity: 0.6;
}


.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: rgb(255, 255, 255);           /*Color letra de los links*/
    text-decoration: none;
}

.header .nav-links li a:hover {
    color:rgba(255, 255, 255, 0.615);             /*el color cambia al pasar el cursos por encima */
}


#contenedor {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border-style:solid;
    border-color: #000000;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: rgb(245, 246, 247);
}

/* Efecto al pasar el ratón */
h1:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al hacer hover */
    color: #010201; /* Cambiar el color del texto al hacer hover */
}

h2 {
    text-align: center;
    font-size: 32px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

/* Efecto al pasar el ratón */
h2:hover {
    transform: scale(1.1); /* Aumentar ligeramente el tamaño al hacer hover */
    color: #1500ff; /* Cambiar el color del texto al hacer hover */
    transition-duration: 0.4s;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#listahtml {
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 10px 160px; /* Espacio interno */
    border-radius: 6px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgb(0, 0, 0); /* Añadimos sombra para darle profundidad */
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    margin-top:     0px;
    margin-right: 300px;
    margin-left: 300px;
}

#listahtml:hover {
    transform: scale(0.9); /* Aumentar ligeramente el tamaño al hacer hover */
    color: #000000;     /* color nobre del estudiante al pasar el cursor */ 
    background-color: #bbbbbb;  /* color div al pasar el cursor */ 
    box-shadow: 0 8px 15px rgb(4, 0, 255); /* Aumenta la sombra en hover */
        cursor: pointer; /* cursor */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#listahtml {
    animation: fadeIn 1s ease-out; /* Animación al cargar el elemento */
}

p {
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #ffffff; /* Fondo donde se imprimen las notas */
    padding: 7px 20px; /* Espacio interno para que el texto no quede pegado al borde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
    transition: all 0.3s ease; /* Transición txt */
}

p:hover {
    color: #ffffff; /* Cambiar el color del texto al hacer hover */
    background-color: #000000; /* Cambiar el color de fondo al hacer hover */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño del texto al hacer hover */
    box-shadow: 0 8px 8px rgba(255, 255, 255, 0.947); /* Sombra más intensa al hacer hover */
    cursor: pointer; /* Cambiar el cursor para indicar interactividad */
    font-size: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p {
    animation: fadeIn 1s ease-out; /* Animación de entrada al cargar */
}




input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
    text-align: center;
    font-style:italic;
    max-width: auto;

}

button {
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000; /* Borde inicial */
    box-shadow: none; /* Sombra inicial */
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: #6153fd; /* Cambiar color de fondo al hacer hover */
    border: 2px solid #000000f8; /* Cambiar color del borde al hacer hover */
    box-shadow: 0 4px 8px rgba(19, 32, 17, 0.925); /* Añadir sombra al hacer hover */
}

ul {
    list-style-type: none; /* Elimina las viñetas */


}