* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  background: linear-gradient(to right, #283048, #a6a0ba);
  padding: 20px; 
}

.container-carousel {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #ffffff;  /*fondo imagenes color*/
  box-shadow: 0 8px 32px 0 rgb(58, 47, 160);      /*Color borde de las imagenes*/
  border-radius: 15px;
  overflow: hidden;     /*oculta el contenido que se sale de un contenedor, mostrando solo el que cabe dentro*/

}

.carruseles {
  width: 1000%;
  height: 100%;
  display: flex;

}

.slider-section {
  width: calc(100% / 10);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit:inherit;
  border-radius: 15px;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #001aff;       /*color flechas*/
  transform: translate(0,-50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #000000d4;    /*Color redondo de las flechas*/
  color: #001aff;     /*color flechas hover*/
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}